:root {
  --mainTeal: #2aa1c1;
  --mainWhite: #fff;
  --mainBlack: #000;
}

body {
  background: var(--mainBlack);
  color: var(--mainWhite);
  font-family: "Open Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--mainTeal);
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
}

.mail-icon {
  cursor: pointer;
  color: var(--mainTeal);
  font-size: 2em;
  height: 100%;
}